body{
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    margin: 0;
}



.header{
    padding: 15px 90px;
    font-size: 18px;
    color: #E5E7EB;
    background-color: #1F2937;
}

.hero{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    align-items: center;
    
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -20px;
    margin-bottom: 10px;
}

.hero-text{
    margin-right: 5px;
}

.hero-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 600px;
    height: 150px;
    padding: 5px 20px;
    margin-left: 10px;
    display: flex;
    align-self: center;
}

.img-text{
    text-align: center;
    
}

.main-text{
    font-family: Roboto;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: -15px;
}

.links{
    display: flex;
    gap: 16px;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

li{
    list-style-type: none;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

p{
    margin-bottom: 2px;
}

button{
    background-color: #3882F6;
    border-radius: 10px;
    padding: 5px 18px;
    color: #E5E7EB;
    border: none;
    cursor: pointer;
    outline: none;
    margin-top: 3px;
}